.customButton {
	width: 223px;
	height: 49px;
	cursor: pointer;
	background-color: var(--bigie100);
	padding: 12px 16px;
	text-align: center;
	font-family: var(--font-Jost);
	font-weight: 600 ;
	color: var(--white);
	font-size: 17px;
	line-height: 24.57px;
	outline: none;
	border: none;
	transition: all 0.4ms ease-in-out;
}
.customButton:hover {
	background-color: var(--bigie70);
	transition-duration: 0.3ms;
}
.customButton:active {
	background-color: var(--bigie120);
	transition-duration: 0.4ms;

}
.customButton:disabled {
	background-color: var(--bigie10);
	transition-duration: 0.4ms;

}
