.slider {
	width: 100%; /* Width: Fixed (1,920px) */
	height: 800px; /* Height: Fixed (800px) */
	display: flex;
	position: relative; /* Use flexbox for layout */
	justify-content: space-between; /* Justify: space-between */
	padding: 70px 240px 70px 240px; /* Padding: 70px, 240px, 70px, 24px */
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('https://ucarecdn.com/254d58e5-7e7e-49ad-939c-4a8b5350ef93/-/preview/999x681/');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider--content__bottom {
	width: 1440px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: end;
	bottom: 90px;
}

.slider--header {
	width: 716px;
	height: 348px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.slider__header-col {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.slider--header__title {
	font-size: 80px;
	font-weight: 500;
	font-family: var(--font-Jost);
	line-height: 70px;
	color: var(--white);
}
.slider--header__subtitle {
	font-size: 20px;
	font-weight: 400;
	font-family: var(--font-Jost);
	line-height: 28.9px;
	color: var(--white);
}
.slidercontroller {
	width: 148px;
	height: 70px;
	display: flex;
	align-items: center;
	gap: 8px;
}
.slidercontroller--prev {
	cursor: pointer;
	width: 70px;
	aspect-ratio: 1;
	border: 1.5px solid var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slidercontroller--prev_icon {
	width: 17px;
	color: var(--white);
}

@media (min-width: 768px) and (max-width: 1024px) {
	.slider {
		padding: 0;
		height: 924px;
	}
	.slider--content__bottom {
		padding: 0 20px;
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: end;
		bottom: 50px;
	}
	.slidercontroller {
		width: 148px;
		height: 70px;
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.slider--header {
		width: 542px;
		height: 340px;
	}
	.slider--header__title {
		font-size: 65px;
	}
	.slider__header-col {
		gap: 12px;
	}
}

@media only screen and (max-width: 768px) {
	.slider {
		padding: 0;
		height: 728px;
		padding: 40px 16px 40px 16px;
	}
	.slider--content__bottom {
		width: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 30px;
		bottom: 40px;
	}
	.slidercontroller {
		order: -1;
		width: 108px;
		height: 50px;
		gap: 8px;
	}
	.slider--header {
		width: 323px;
		height: 233px;
		gap: 30px;
	}
	.slider--header__title {
		font-size: 35px;
		line-height: 41px;
	}
	.slider__header-col {
		gap: 8px;
	}
	.slider--header__subtitle {
		font-size: 16px;
		line-height: 23.12px;
	}
	.customButtonSlider {
		width: 180px;
		button {
			width: 100%;
		}
	}
}
