.Services {
	margin-top: 250px;
	padding: 0 240px;
}

.ServicesItem {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.ServiceTitle {
	width: 50%;
}
.Title {
	font-family: var(--font-Jost);
	font-size: 55px;
	line-height: 70px;
	font-weight: 500;
}

.advantages {
	display: flex;
	height: 575px;
}
.advantages__first {
	width: 50%;
}

.advantages__item {
	display: flex;
	align-items: center;
	gap: 14px;
	height: 115px;
	border: 1px solid var(--storke);
	border-left: none;
}

.advantages__itemLast {
	display: flex;
	align-items: center;
	gap: 14px;
	padding-left: 20px;
	height: 115px;
	border: 1px solid var(--storke);
	border-left: none;
	border-right: none;
}

.Info {
	font-size: 24px;
	font-weight: 400;
	line-height: 34.68px;
	color: var(--black100);
	font-family: var(--font-Jost);
}

.advantages__icon {
	width: 30px;
	height: 30px;
	background-color: var(--bigie100);
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon {
	color: var(--white);
}

@media (min-width: 768px) and (max-width: 1024px) {
	.Services {
		height: 1177px;
		margin-top: 200px;
		padding: 0 20px;
	}
	.ServiceTitle {
		width: 100%;
	}
	.Title {
		font-size: 45px;
	}
	.advantages {
		flex-direction: column;
	}
	.advantages__first {
		width: 100%;
	}
	.advantages__itemLast {
		width: 100%;
		padding: 0;
	}
	.advantages__item {
		border: 1px solid var(--storke);
		border-left: 0;
		border-right: 0;
	}
}
