/*--black100 */
/* --font-Jost */

.Choose {
	margin-top: 250px;
	padding: 0 240px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.choose__title {
	width: 100%;
	color: var(--black100);
	font-family: var(--font-Jost);
	font-size: 55px;
	line-height: 70px;
	font-weight: 500;
}

.choose__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.choose__card__text {
	width: 467px;
	height: 326px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--storke);
}

.choose__card__text__item {
	width: 407px;
	height: 143px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 30px;
	line-height: 36px;
	font-family: var(--font-Jost);
	color: var(--black100);
	font-weight: 500;
}
.subtitle {
	font-family: var(--font-Jost);
	font-weight: 400;
	font-size: 20px;
	line-height: 28.9px;
	opacity: 80%;
}
.choose__card__image:nth-child(10) {
	display: none;
}
.choose__card__image {
	width: 466px;
	height: 326px;
	border: 1px solid var(--storke);
	img {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.Choose {
		margin-top: 200px;
		padding: 0 20px;
	}
	.choose__cards {
		gap: 16px;
	}
	.choose__title {
		font-size: 45px;
		line-height: 50px;
	}
	.choose__card__text {
		width: 356px;
		height: 326px;
	}
	.choose__card__text__item {
		width: 296px;
		height: auto;
	}
	.choose__card__image {
		width: 356px;
		height: 326px;
	}
	.choose__card__text:nth-child(1) {
		order: -1;
	}
	.choose__card__image:nth-child(2) {
		order: -1;
	}
	.choose__card__text:nth-child(7) {
		order: 2;
	}
	.choose__card__text:nth-child(3) {
		order: 0;
	}
	.choose__card__image:nth-child(4) {
		order: -1;
	}

	.choose__card__image:nth-child(5) {
		order: 2;
	}
	.choose__card__text:nth-child(6) {
		order: 5;
	}
	.choose__card__text:nth-child(9) {
		order: 2;
	}
	.choose__card__text:nth-child(8) {
		order: 5;
	}
	.choose__card__image:nth-child(10) {
		display: block;
		order: 2;
	}
}

@media only screen and (max-width: 768px) {
	.Choose {
		margin-top: 280px;
		padding: 0 16px;
		gap: 25px;
		height: 1811px;
	}
	.choose__title {
		font-size: 30px;
		line-height: 35px;
	}
	.choose__cards {
		width: 100%;
		gap: 16px;
	}
	.title {
		font-size: 22px;
		line-height: 28px;
	}
	.subtitle {
		font-size: 16px;
		line-height: 23.12px;
	}
	.choose__card__text {
		width: 328px;
		height: 180px;
		padding: 24px 16px;
	}
	.choose__card__text__item {
		gap: 12px;
		width: 100%;
	}
	.choose__card__image {
		width: 328px;
		height: 180px;
	}
	
}
