.form {
	margin-top: 260px;
	padding: 0 240px;
}
.content {
	background-color: var(--BgBlue);
	gap: 204px;
	height: 699px;
	display: flex;
	padding-left: 60px;
	justify-content: center;
	align-items: center;
}

.form__items {
	width: 588px;
	height: 579px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	h2 {
		font-size: 55px;
		font-family: var(--font-Jost);
		font-weight: 500;
		color: var(--black100);
		line-height: 70px;
	}
}
.form__input__items {
	display: flex;
	flex-direction: column;
	position: relative;
}
.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.input {
	width: 407px;
	height: 50px;
	padding: 12px 0px 12px 0px;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	font-family: var(--font-Jost);
	font-size: 18px;
}

.label {
	position: absolute;
	left: 10px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	transition: all 0.3s ease;
	font-family: var(--font-Jost);
	font-size: 18px;
	font-weight: 400;
	line-height: 26.01px;
	text-align: left;
}
.labelFocused {
	top: -7px;
	font-size: 18px;
	color: var(--black100);
}

.systemRed {
	color: var(--systemRed);
}
.formImage {
	width: 588px;
	height: 699px;
	background-image: url('../../../assets/37684fc4d15fd511e98e679c9a779772.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	backface-visibility: hidden;
	background-clip: border-box;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.form {
		height: 939px;
		margin-top: 200px;
		padding: 0 20px;
	}
	.content {
		height: 100%;
		flex-direction: column;
		gap: 40px;
		padding: 0;
		justify-content: unset;
		align-items: normal;
	}
	.formImage {
		width: 100%;
		height: 370px;
		order: -1;
		background-position: top;
	}
	.form__items {
		width: 688px;
		height: 499px;
		gap: 30px;
		padding: 0 20px 0 40px;
		h2 {
			font-size: 45px;
			line-height: 50px;
		}
	}
	.input {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.form {
		height: 683px;
		margin-top: 180px;
		padding: 0 16px;
	}
	.content {
		height: 100%;
		flex-direction: column;
		gap: 25px;
		padding: 0;
		justify-content: unset;
		align-items: normal;
	}
	.formImage {
		width: 100%;
		height: 200px;
		order: -1;
		background-position: top;
	}
	.form__items {
		width: 296px;
		height: 433px;
		gap: 20px;
		padding: 0 16px;
		h2 {
			width: 296px;
			font-size: 30px;
			line-height: 38px;
		}
		button {
			margin-top: 20px;
		}
	}
	.form__input__items {
		width: 296px;
		height: 47px;
	}
	.label {
		font-size: 16px;
		line-height: 23.12px;
	}
	.input {
		width: 100%;
		padding: 10px 0;
	}
	.form__inputs {
		gap: 20px;
	}
}
