.mortgage {
	padding: 0 240px;
	display: flex;
	flex-direction: column;
}
.title {
font-family: var(--font-Jost);
font-size: 55px;
font-weight: 500;
line-height: 70px;
text-align: left;
}
.calculator {
	padding: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.result {
	display: flex;
	gap: 51px;
}
.inputs {
	width: 790px;
	height: 192px;
	display: flex;
}
/* Стоимость недвижимости (у.е.) */



.form {
  width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
gap: 40px;

}

.label {
	font-family: var(--font-Jost);
	color: var(--storke);
	font-weight: 400;
	font-size: 16px;
	line-height: 23.13px;
}
.input {
padding: 12px 16px 12px 16px;
gap: 10px;
border: 1px 0px 0px 0px var(--storke);
}
.input__item {
	width: 350px;
	height: 81px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.input::placeholder {
	color: #B3B3B3;
	font-size: 18px;
	font-family: var(--font-Jost);
	line-height: 26.01px;
}
/* Введите стоимость */

.info {
	width: 467px;
	height: 164px;
	display: flex;
	flex-wrap: wrap;
	gap: 31px;
}

/* SEPERATOR */
.seperator {
	width: 1px;
	background-color: var(--storke);
}



.info__item {
	width: 218px;
	height: 62px;
}

.info__item__title {
font-family: var(--font-Jost);
font-size: 18px;
font-weight: 400;
line-height: 26.01px;
text-align: left;
color: #B3B3B3; 
}


.info__item__subtitle {
	font-family: var(--font-Jost);
	font-size: 25px;
	font-weight: 500;
	line-height: 36.13px;
	text-align: left; 
	color: var(--black100);
}
