@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=Jost:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');

:root {
  --white: #ffffff;
  /* Assosiy Ranglar */
  --bigie100: #E1AF93;
  --bigie70: #EAC7B4;
  --bigie40: #F3DFD4;
  --bigie120: #B48C76;
  --bigie10: #FCF7F4;
  --black100: #333333;
  --black60: #858585;
  --black20: #D6D6D6;
  --label: #B3B3B3;
  --storke: #EAEAEA;
  --bgGray: #F7F7F7;
  --bgBlue: #EDF3F5;
  --systemRed: #FF4F4F;
  /* Shriftlar */
  --font-Belleza: 'Belleza', sans-serif;
  --font-Bellefair: 'Bellefair', serif;
  --font-Jost: 'Jost', sans-serif;

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}